{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="app__header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                  <img class="img-fluid icon" src="../static/images/icon.png" alt="">
                </div>
                <div class="col-md-4">
                    <form action="">
                        <div class="form-group">
                          <input type="text" class="form-control nav__input" placeholder="search...">
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="app__icons">
                        <i class="bi bi-house-door-fill"></i>
                        <i class="bi bi-send"></i>
                        <i style="cursor: pointer;" class="bi bi-plus-square" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                        <i class="bi bi-heart"></i>
                        <a href="#"><img class="img-fluid nav__img" src="../static/images/port-min.jpeg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Body section -->
    <div class="container">
       <div class="row">
           <div class="col-md-8 left">
            <div class="left__top">
                <img class="img-fluid user__profiles" src="../static/images/port-min.jpeg" alt="">
                <img class="img-fluid user__profiles" src="../static/images/port-min.jpeg" alt="">
                <img class="img-fluid user__profiles" src="../static/images/port-min.jpeg" alt="">
                <img class="img-fluid user__profiles" src="../static/images/port-min.jpeg" alt="">
                <img class="img-fluid user__profiles" src="../static/images/port-min.jpeg" alt="">
            </div>
            {% for post in posts %}
            <div class="post__item">
                <div class="left__bottom">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <!-- post profile -->
                            <img class="post__profile mt-2" src="../static/images/port-min.jpeg" alt="">
                            <small class="m-3">Marcos Ochieng</small>
                        </div>
                        <div>
                          <i class="bi bi-three-dots m-2"></i>
                        </div>
                    </div>
                     <!-- post image -->
                     <img class="img-fluid post__img mt-2" src="{{ post.picture.url }}" alt="">
                     <div class="d-flex justify-content-between align-items-center">
                         <div>
                             <i class="bi bi-heart m-3"></i>
                             <i class="bi bi-chat m-3"></i>
                             <i class="bi bi-send"></i>
                         </div>
                         <div>
                            <i class="bi bi-bookmark m-3"></i>
                         </div>
                     </div>
                     <h6 class="m-2">4 Likes</h6>
                     <span class="m-3" style="font-weight: bolder;">{{ post.user }} :</span><small class="text-muted">{{ post.caption }}</small>
                     <small class="mb-5">{{ post.pub_date| timesince }}</small><br>
                     <hr>
                    <div class="d-flex align-items-center">
                        <div>
                           <i class="bi bi-emoji-smile m-2"></i>
                        </div>
                        <div>
                            <form action="" class="d-flex">
                                <input type="text" name="comment" class="form-control comment_form" placeholder="Add a comment...">
                                <button style="display: inline;background: transparent;border: none;color: #09A9FA;">Post</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- end of post item -->
    </div>
    <div class="col-md-4 right">
        <div class="row">
            <div class="col-md-4">
                <img class="right__img" src="../static/images/port-min.jpeg" alt="">
            </div>
            <div class="col-md-4">
                <small>Marcos Ochieng</small>
                <small class="text-muted">OchiengMarcos</small>
            </div>
            <div class="col-md-4">
                <a class="text-decoration-none" href="#">Switch</a>
            </div>
        </div>
        <div class="row">
            <h6 class="mt-5">Suggestions for you</h6>
            <div class="col-md-4">
                <img class="img-fluid follow__img" src="../static/images/port-min.jpeg" alt="">
            </div>
            <div class="col-md-4">
                <span>Marcos Ochieng</span>
            </div>
            <div class="col-md-4">
                <a class="text-decoration-none" href="#">Follow</a>
            </div>
        </div>
    </div>
    <!-- POST MODAL -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Write Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="">
              {% csrf_token %}
              <input type="file" name="image" class="form-control mb-4" placeholder="choose file">
              <input type="text" name="caption" class="form-control" placeholder="Enter caption...">
              <button type="button" class="btn2 " data-bs-dismiss="modal">Post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    <!-- END OF POST MODAL -->
</body>
</html>